<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Grupo 01</title>
<!--  th:text="${titulo}"-->
<link rel="shortcut icon" href="trailer.svg" type="image/x-icon">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/index">Transporte Terrestre</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">

					<li class="nav-item"><a class="nav-link" href="/listcamion">Camiones</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/listconductor">Conductor</a></li>
					<li class="nav-item"><a class="nav-link" href="/listruta">Ruta</a></li>
					<li class="nav-item"><a class="nav-link" href="/listcliente">Clientes</a></li>
					<li class="nav-item"><a class="nav-link" href="/listorden">Orden
							de Carga</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<main>
		<div class="contenedor-title">
			<div class="title-inicio">
				<h1>EMPRESA DE TRANSPORTE DE CARGA TERRESTRE</h1>
			</div>
			<p>TRANSPORTE DE CARGA EN GENERAL A NIVEL LOCAL Y NACIONAL
				LLEGAMOS A CUALQUIER DESTINO DEL PERÚ</p>
			<img class="imgHome" src="img/fondo.jpg" alt="">
		</div>

		<section class="contenedor-nosotros" id="nosotros">
			<div class="content-text-img">
				<div class="fila">
					<h2 class="textNosotros">Nosotros</h2>
					<p>Somos una empresa 100% peruana dedicada al servicio de
						Transporte de Carga a nivel nacional contando con unidades
						propias. El éxito de Transportes SANKY es haber ofrecido y
						consolidado nuestros servicios en torno al comercio del transporte
						de carga de una forma personalizada en el envió de mercaderías. y
						contando con un seguro para los valores que transportamos. Así
						mismo ofrecemos servicio de recojo y reparto para aquellas
						empresas cuyo volumen así lo requieren para una entrega rápida y
						oportuna. Contamos con un equipo de excelentes profesionales que
						cuentan con nuestra confianza y una verdadera vocación de servicio
						para ustedes.. A la calidad de nuestros servicios tenemos precios
						competitivos ,amplio conocimiento del mercado y una esmerada
						selección de nuestras alianzas de negocio.</p>
				</div>
				<div class="fila">
					<div class="imgBox">
						<img class="imgNosotros" src="img/nosotros.jpg" alt="">
					</div>
				</div>
			</div>
		</section>

		<section class="contenedor-mision-vision">
			<div class="content-textM-textV">
				<div class="fila2">
					<h2 class="textMi">Misión</h2>
					<p>Comprometernos con nuestros clientes ofreciéndoles una
						respuesta inmediata a sus necesidades de transporte de mercadería
						con un excelente servicio, calidad y reduciendo cualquier riesgo.</p>
				</div>
				<div class="fila2">
					<h2 class="textVi">Visión</h2>
					<p>Consolidarnos como la mejor opcion para el año 2022 en el
						transporte terrestre de carga, innovando constantemente y
						cubriendo las exigencias del mercado, logrando así obtener la
						preferencia de nuestros clientes satisfaciendo de manera optima
						sus necesidades.</p>
				</div>
			</div>
		</section>

		<section class="contenedor-porqelegirnos">
			<div class="contenedor1">
				<h2 class="contenedor-XQtitulo">PORQUE ELEGIRNOS</h2>
				<div class="contenedor-articulo">
					<div class="articulo">
						<img src="img/logistic-service.png" alt="">
						<!-- <i class="fas fa-pen-fancy"></i> -->
						<h3>EXPERIENCIA</h3>
						<p>Experiencia de 17 años en Transporte de Maquinaria Pesada,
							Transporte de Equipos, Transporte de Materiales Diversos y otros
							Implementos.</p>
					</div>
					<div class="articulo">
						<img class="img2" src="img/warehousing.png" alt="">
						<!--<i class="fas fa-code"></i>-->
						<h3>FLOTA</h3>
						<p>Contamos con furgones, semitrailer, camiones con capacidad
							de hasta 15 toneladas; camabaja, camacuna con lo último en
							tecnología y revisión al día.</p>
					</div>
					<div class="articulo">
						<img class="img3" src="img/customer-service.png" alt="">
						<!--<i class="fas fa-cog"></i>-->
						<h3>RAPIDEZ</h3>
						<p>Entregamos sus cargas y mercaderías el mismo día en caso de
							emergencia o en día programado, contará con nuestro servicio las
							24 horas del dia en todo el país.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="contenedor-servicios">
			<div class="contenedor2">
				<h2 class="contenedor-servicios">Nuestros Servicios</h2>
				<div class="contenedor-articulo2">

					<div class="row1">
						<div class="articulo2">
							<img class="imgx" src="img/CargaExpres.png" alt="">
							<h3>Carga Expres y Convencional</h3>
							<p>Con entrega de urgencia y sin urgencia para todo tipo de
								carga.</p>
						</div>
						<div class="articulo2">
							<img class="imgx" src="img/EspecialSobredimensionada.png" alt="">
							<h3>Especial Sobredimensionada</h3>
							<p>Transporte de hasta 50 toneladas para cualquier parte del
								país.</p>
						</div>
					</div>
					<div class="row2">
						<div class="articulo2">
							<img class="img-art" src="img/servicios.png" alt="">
						</div>
					</div>
					<div class="row3">
						<div class="articulo2">
							<img class="imgx" src="img/CargaSegura.png" alt="">
							<h3>Carga Segura</h3>
							<p>Choferes certificados con toda la documentación y equipos
								adecuados.</p>
						</div>
						<div class="articulo2">
							<img class="imgx" src="img/Mudanzas.png" alt="">
							<h3>Mudanzas</h3>
							<p>Para cualquier tipo de mudanza a nivel local y nacional.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<footer>
		<div class="partFooter">
			<h4>Transporte de Carga Terrestre</h4>
			<a href="/index"><i class="fas fa-bus"></i></a>
		</div>
		<div class="partFooter">
			<h4>Redes Sociales</h4>
			<div class="social-media">
				<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
			</div>
		</div>
		<div class="partFooter">
            <h4>Desarrollado por:</h4>
            <a href="#">Grupo 01 - DAWIX</a>
            <a href="#">FIISI</a>
            <a href="#">UNJFSC</a>
        </div>
	</footer>
	
	<script src="https://kit.fontawesome.com/1790403022.js" crossorigin="anonymous"></script>
</body>
</html>